:root {
  --color-text-1: #323232;
  --color-text-2: #3FA6FA;
  --color-text-white-1: #fff;
  --color-btn-1: #3FA6FA;
  --color-btn-2: #3E3E3E;
  --color-btn-deactive-1: #F7F7F7;
  --color-border-1: #C7D0D9;
  --color-border-2: #3E3E3E;
  --color-bg-1: #F7F7F7;
  --color-bg-2: #E2F2FE;
  --color-bg-white-1: #fff;
  --color-active: #167FFB;
  --color-warning: #f8ba0e;
  --color-alert: #db4537c9;
  --color-no-error: #55c553;
  --color-error: #F93F3F;
  --height-header: 40px;
}

// // v2

// :root {
//   --color-text-1: #323232;
//   --color-text-2: #8A7FEE;
//   --color-text-white-1: #fff;
//   --color-btn-1: #8A7FEE;
//   --color-btn-2: #3E3E3E;
//   --color-btn-deactive-1: #F7F7F7;
//   --color-border-1: #C7D0D9;
//   --color-bg-1: #F7F7F7;
//   --color-bg-2: #dec9ff;
//   --color-bg-white-1: #fff;
//   --color-active: #A88DEA;
//   --color-warning: #f8ba0e;
//   --color-alert: #db4537c9;
//   --color-no-error: #84FF82;
//   --color-error: #F93F3F;
//   --height-header: 90px;
// }