:root {
  --color-text-1: #1C2D3C;
  --color-text-2: #109CF8;
  --color-text-3: #BDC2C7;
  --color-btn-1: #109CF8;
  --color-btn-deactive-1: #D9D9D9;
  --color-border-1: #D9D9D9;
  --color-border-2: #109CF8;
  --color-text-white-1: #fff;

}